<div class="container">


<h3 align="center">Categoria</h3>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="2">
        <%= link_to 'Nuevo', new_categorium_path, class: "btn btn-success" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @categoria.each do |categorium| %>
      <tr>
        <td><%= categorium.descripcion %></td>
        <td><%= link_to 'Editar', edit_categorium_path(categorium), class:"btn btn-info" %></td>
        <td><%= link_to 'Eliminar', categorium, method: :delete, data: { confirm: 'Está seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
