<h1>Editing Detalle Orden Presupuesto</h1>

<%= render 'form', detalle_orden_presupuesto: @detalle_orden_presupuesto %>

<%= link_to 'Show', @detalle_orden_presupuesto %> |
<%= link_to 'Back', detalle_orden_presupuestos_path %>
