<h1>Editing Detalle Orden Trabajo</h1>

<%= render 'form', detalle_orden_trabajo: @detalle_orden_trabajo %>

<%= link_to 'Show', @detalle_orden_trabajo %> |
<%= link_to 'Back', detalle_orden_trabajos_path %>
