<h3 align="center">Tipo Facturas</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>
        <%= link_to 'Nuevo Tipo de Factura', new_tipo_factura_path, class:"btn btn-success" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_facturas.each do |tipo_factura| %>
      <tr>
        <td><%= tipo_factura.descripcion %></td>
        <td><%= link_to 'Editar', edit_tipo_factura_path(tipo_factura), class:"btn btn-primary" %></td>
        <td><%= link_to 'Eliminar', tipo_factura, method: :delete, data: { confirm: 'Está seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
