<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_factura.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_factura_path(@tipo_factura) %> |
<%= link_to 'Back', tipo_facturas_path %>
