<div class="container">

<h3 align="center">Editar Repuesto Servicio</h3>
<br>
<%= link_to '⬅ Lista de Repuestos o Servicios', repuesto_servicios_path %>
<br>
<br>
<%= render 'form', repuesto_servicio: @repuesto_servicio %>

</div>
